@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cabecera */
header {
  background: #23305e;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 80px;
}

header h1 {
  font-size: 48px;
  font-family: 'Viga', sans-serif;
}

header img {
  width: 250px;
}

/* Formulario Login */

.form-login input {
  margin-left: 40px;
  padding: 5px;
}

.form-login input[type="checkbox"] {
  margin: 20px 0 0 40px;
  width: 25px;
  height: 25px;
}

.form-login button {
  margin-left: 25px;
}

form label {
  font-size: 14px;
  font-weight: bold;
}

input {
  background: #fff;
  height: 20px;
  border-radius: 15px;
  margin-left: 10px;
}

select {
  appearance: none;
  height: 20px;
  color: #000;
  background: #fff;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCA0MSAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIwLjQ2NSAyMy4wMDFMMCAwaDQxbC0yMC40NjUgMjMuMDAxeiIgZmlsbD0iI0E4QzQ2MCIvPgo8L3N2Zz4K');
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: right 10px center;
  background-size: 15px;
  margin: 15px 0 0 30px;
  width: 350px;
  height: 30px;
  padding-left: 15px;
}

select:focus option:checked {
  color: #000;
}

select option:checked {
  background-color: #fff;
}

p {
  color: #000;
}

form input {
  color: #000;
}

form p {
  margin: 30px 0 0 15px;
}

form button {
  color: #fff;
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  font-weight: bold;
  background: #23305e;
  border: 3px solid #56bd9b;
  border-radius: 15px;
  padding: 10px;
  width: 40%;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  transition: .3s;
  background: #56bd9b;
}

.formulario {
  margin: 70px 85px;
  background: #23305e;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 2px 7px 7px 3px #56bd9b;
  width: 80%;
}

.first-section {
  display: flex;
  gap: 40px;
}

.operario-foto-producto {
  display: flex;
  gap: 40px;
  height: 200px;
}

.operario {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30px;
  gap: 15px;
  font-weight: 500;
}

.icono-operario {
  position: relative;
  background: #fff;
  border-radius: 30px;
}

.num-operario {
  position: absolute;
  top: 90px;
  left: 50px;
  background: #fff;
  border-radius: 50px;
}

.num-operario span {
  color: #23305e;
  font-size: 36px;
  font-weight: bold;
  padding: 5px;
}

.foto-producto img {
  width: 100px;
  margin-top: 15px;
  background: #fff;
  border: 4px solid #56bd9b;
  border-radius: 40px;
  padding: 25px;
}

.numSeries-clientes {
  display: flex;
  gap: 55px;
  align-items: center;
  margin-top: 30px;

}

.numSerie-clientes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.campos-clientes input {
  color: #000;
}

.cliente-adicional {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}

.cliente-adicional button {
  background: none;
  border: 0;
}

/* Sección revisiones */

.revisiones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #56bd9b;
  margin: 70px 0 0 100px;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 2px 2px 7px 4px #f1e866;
  width: 75%;
}

.checkbox-wrapper {
  display: flex;
  gap: 130px;
  align-items: center;
  margin-bottom: 15px;
}

.number {
  background: #fff;
  padding: 5px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 1.5em;
  -webkit-text-stroke: 1.5px #23305e;
}

.name-input {
  padding: 15px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1em;
  font-weight: bold;
  background: #fff;
  color: #23305e;
  border: 3px solid #23305e;
  border-radius: 50px;
}

.styled-checkbox {
  display: none;
}

.styled-checkbox + .checkbox-label {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-color: white;
  border: 4px solid #23305e;
  border-radius: 4px;
  position: relative;
}

.styled-checkbox:checked + .checkbox-label::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 10px;
  width: 6px;
  height: 14px;
  border: 3px solid #23305e;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Third Section */

footer {
  display: flex;
  margin: 100px 0 0 70px;
  align-items: center;
  gap: 80px;  
  padding-bottom: 30px;         
}

.fotos {
  width: 50%;            
  border: 7px solid #23305e;
  border-radius: 50px;
  padding: 30px;
  height: 130px;
  position: relative;
}

.camera {
  position: relative;
  float: right;
  margin-right: 70px;
}

video {
  width: 140px;
}

.camera-icon {
  color: #23305e;
  font-size: 40px;
  position: absolute;
  top: 120px;
  right: 25px;
  cursor: pointer;
}

.third-section button {
  color: #fff;
  font-size: 24px;
  border: 3px solid #23305e;
  border-radius: 20px;
  width: 25%;
  padding: 15px;
  background: #23305e;
  font-weight: bold;
  box-shadow: 2px 2px 7px 1px #56bd9b;
  cursor: pointer;
}

/* Login */

.login-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #23305e;
  height: 100vh;  
}

.form-is {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 20px;
  padding: 35px;
  font-family: 'Onest';
}

.container-img {
  position: absolute;
  top: 3%;
  left: 40%;
  margin: auto;
  background: #fff;
  border-radius: 50%;
}

.container-img img {
  width: 220px;
}

.remember-wrapper {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 70px;
}

.remember-wrapper a {
  font-family: "Avenir", sans-serif;
}

#container-check {
  display: flex;
  align-items: center;
}

#txt-t {
  color:#23305e;
  font-size: 35px;
  letter-spacing: 5px;
  font-family: 'Avenir', sans-serif;
  font-weight: 600;
}

.i-is {
  border: none;
  padding: 10px;
  font-weight: bold;
  width: 300px; 
  height: 50px;
  background: none;
  color: #000;
}

.icon {
  margin-right: 25px;
  color: #23305e;
}

.volver {
  margin: 20px 10px;
}

.volver a {
  font-family: "Avenir", sans-serif;
}

.i-is:focus {
  outline: none;
}

.i-f {
  margin-bottom: 10px;
  border: 3px solid #56bd9b;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

#i-ch {
  width: 40px;
  height: 20px;
}

.container-form3 {
  margin-top: 20px;
}

#btn-conectar {
  color: #23305e;
  background-color: #56bd9b;
  font-weight: bold;
  border: 5px solid #23305e;
  border-radius: 20px;
  font-size: 30px;
  width: 300px;
  -webkit-text-stroke: 1.5px #fff;
  margin-top: 15px;
}

.txt-p {
  color: rgb(180, 180, 180);
}

/* Panel Admin */

.admin-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.admin-main section {
  padding: 20px;
  background: #23305e;
  width: 40%;
  }
  
.admin-main h1 {
  font-family: 'Viga', sans-serif;
  margin-left: 20px;
  font-size: 36px;
}
    
.admin-main section ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}

.admin-main section ul a {
  color: #fff;
  text-decoration: none;  
}

.admin-main section ul a:hover {
  color: #56bd9b;
}

/* Listados */

.listado-clientes, .listado-modelos, .listado-revisiones, .listado-usuarios, .listado-verificaciones {
  background: #23305e;
  padding: 25px;
  width: 70%;
}

.listado-clientes h1, .listado-modelos h1, .listado-revisiones h1, .listado-usuarios h1, .listado-verificaciones h1 {
  text-align: center;
  font-size: 48px;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 75px;
  margin-top: 40px;
}

#btn-volver {
  background: #ff0000;
}

#btn-volver:hover {
  background: #bd0000;
}

/* Listado clientes */

.clientes-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100vh;
  }

.info-cliente p {
  color: #fff;
}

.listado-clientes button {
  margin-top: 15px;
  background: #56bd9b;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}

.listado-clientes button a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.listado-clientes button:hover {
  background: #00CB7F;
}

/* Crear Cliente */

.crear-cliente-main {
  width: 80%;
  text-align: center;
  margin: 350px auto;
}

.crear-cliente {
  background: #23305e;
  padding: 25px;
}

.crear-cliente h2 {
  font-family: 'Avenir', sans-serif;
}

#btn-crear-cliente {
  display: flex;
  margin: auto;
  margin-top: 45px;
  background: #56bd9b;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}

#btn-crear-cliente:hover {
  background: #00CB7F;
}

/* Listado modelos */

.modelos-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100vh;
  }

.info-modelo p {
  color: #fff;
}

.listado-modelos button {
  margin-top: 15px;
  background: #56bd9b;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}

.listado-modelos button a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.listado-modelos button:hover {
  background: #00CB7F;
}
/* Listado revisiones */

.revisiones-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 20px;
}

.info-revision p {
  color: #fff;
}

.listado-revisiones button {
  margin-top: 15px;
  background: #56bd9b;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}

.listado-revisiones button a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.listado-revisiones button:hover {
  background: #00CB7F;
}

/* Listado usuarios */

.usuarios-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100vh;
  }

.info-usuario p {
  color: #fff;
}

.listado-usuarios button {
  margin-top: 15px;
  background: #56bd9b;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}

.listado-usuarios button a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.listado-usuarios button:hover {
  background: #00CB7F;
}

/* Listado verificaciones */

.verificaciones-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.info-verificacion p {
  color: #fff;
}

.listado-verificaciones button {
  margin-top: 15px;
  background: #56bd9b;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}

.listado-verificaciones button a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.listado-verificaciones button:hover {
  background: #00CB7F;
}