@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cabecera */
header {
  background: #23305e;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 80px;
}

header h1 {
  font-size: 36px;
  font-family: 'Viga', sans-serif;
}

header img {
  width: 250px;
}

/* Formulario Login */

.container-img {
  position: absolute;
  top: 10%;
  left: 40%;
  margin: auto;
  background: #fff;
  border-radius: 50%;
}

.container-img img {
  width: 210px;
}

.form-login input {
  margin-left: 40px;
  padding: 5px;
}

.form-login input[type="checkbox"] {
  margin: 20px 0 0 40px;
  width: 25px;
  height: 25px;
}

.form-login button {
  margin-left: 25px;
}

form label {
  font-size: 14px;
  font-weight: bold;
}

input {
  background: #fff;
  width: 200px;
  height: 25px;
  border-radius: 15px;
  margin-left: 10px; 
}

select {
  appearance: none;
  height: 20px;
  color: #000;
  background: #fff;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCA0MSAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIwLjQ2NSAyMy4wMDFMMCAwaDQxbC0yMC40NjUgMjMuMDAxeiIgZmlsbD0iI0E4QzQ2MCIvPgo8L3N2Zz4K');
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: right 10px center;
  background-size: 15px;
  margin: 15px 0 0 30px;
  width: 260px;
  height: 30px;
  padding-left: 15px;
}

select:focus option:checked {
  color: #000;
}

select option:checked {
  background-color: #fff;
}

p {
  color: #000;
}

form input {
  color: #000;
}

form p {
  margin: 30px 0 0 15px;
}

.app-main {
  margin: 20px auto;
  padding: 20px;
}

.formulario {
  margin: 70px 85px;
  background: #23305e;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 2px 7px 7px 3px #56bd9b;
  width: 80%;
}

.first-section {
  display: flex;
  gap: 40px;
}

.operario-foto-producto {
  display: flex;
  gap: 40px;
  height: 200px;
}

.operario {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30px;
  gap: 15px;
  font-weight: 500;
}

.num-series input {
  margin-top: 15px;
}

.icono-operario {
  position: relative;
  background: #fff;
  border-radius: 30px;
}

.num-operario {
  position: absolute;
  top: 90px;
  left: 50px;
  background: #fff;
  border-radius: 50px;
}

.num-operario span {
  color: #23305e;
  font-size: 36px;
  font-weight: bold;
  padding: 5px;
}

.numSeries-clientes {
  display: flex;
  place-items: center;
  gap: 15px;
}

#numeroCliente {
  margin-top: 10px;
}

form button {
  margin-top: 15px;
  background: none;
  border: 0;
  color: #fff;
}

#btn-generar {
  color: #fff;
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  font-weight: bold;
  background: #23305e;
  border: 3px solid #56bd9b;
  border-radius: 15px;
  padding: 7px;
  width: 40%;
  cursor: pointer;
  margin-top: 30px;
}

#btn-generar:hover {
  transition: .3s;
  background: #56bd9b;
}

.foto-producto img {
  width: 160px;
  background: #fff;
  border: 4px solid #56bd9b;
  border-radius: 40px;
  padding: 5px;
  margin-top: 30px;
}

.cliente-adicional {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}

.cliente-adicional button {
  background: none;
  border: 0;
}

/* Sección revisiones */

.revisiones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #56bd9b;
  margin: 70px 0 0 100px;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 2px 2px 7px 4px #f1e866;
  width: 75%;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  width: 80%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
}

.number {
  padding: 5px;
  color: white;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  -webkit-text-stroke: 1.5px #23305e;
  margin-right: 10px;
}

.name-input {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  color: #23305e;
  background: #fff;
  border: 3px solid #23305e;
  border-radius: 50px;
  margin-right: 10px;
  text-align: center;
}

.styled-checkbox {
  display: none;  
}

.styled-checkbox + .checkbox-label {
  width: 28px;
  height: 28px;
  display: inline-block;
  background: #fff;
  border: 4px solid #23305e;
  border-radius: 4px;
  position: relative;
}

.styled-checkbox:checked + .checkbox-label::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 10px;
  width: 6px;
  height: 14px;
  border: 3px solid #23305e;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Third Section */

footer {
  display: flex;
  margin: 100px 0 0 70px;
  align-items: center;
  gap: 80px;  
  padding-bottom: 30px;         
}

.fotos {
  width: 50%;            
  border: 7px solid #23305e;
  border-radius: 50px;
  padding: 30px;
  height: 130px;
  position: relative;
}

.camera {
  position: relative;
  float: right;
  margin-right: 70px;
}

video {
  width: 140px;
}

.camera-icon {
  color: #23305e;
  font-size: 40px;
  position: absolute;
  top: 120px;
  right: 25px;
  cursor: pointer;
}

.third-section button {
  color: #fff;
  font-size: 24px;
  border: 3px solid #23305e;
  border-radius: 20px;
  width: 25%;
  padding: 15px;
  background: #23305e;
  font-weight: bold;
  box-shadow: 2px 2px 7px 1px #56bd9b;
  cursor: pointer;
}

/* Login */

.login-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #23305e;
  height: 100vh;  
}

.form-is {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 20px;
  padding: 35px;
  font-family: 'Onest';
}

.remember-wrapper {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 70px;
}

.remember-wrapper a {
  font-family: "Avenir", sans-serif;
}

#container-check {
  display: flex;
  align-items: center;
}

#txt-t {
  color:#23305e;
  font-size: 35px;
  letter-spacing: 5px;
  font-family: 'Avenir', sans-serif;
  font-weight: 600;
}

.i-is {
  border: none;
  padding: 10px;
  font-weight: bold;
  width: 300px; 
  height: 50px;
  background: none;
  color: #000;
}

.icon {
  margin-right: 25px;
  color: #23305e;
}

.volver {
  margin: 20px 10px;
}

#error-login-admin {
  color: #ff0000;
  font-size: 1em;
}

.volver a {
  font-family: "Avenir", sans-serif;
  margin-top: 30px;
}

.i-is:focus {
  outline: none;
}

.i-f {
  margin-bottom: 10px;
  border: 3px solid #56bd9b;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

#i-ch {
  width: 40px;
  height: 20px;
}

.container-form3 {
  margin-top: 20px;
}

#btn-conectar {
  color: #23305e;
  background-color: #56bd9b;
  font-weight: bold;
  border: 5px solid #23305e;
  border-radius: 20px;
  font-size: 30px;
  width: 300px;
  -webkit-text-stroke: 1.5px #fff;
  margin-top: 15px;
}

.txt-p {
  color: rgb(180, 180, 180);
}

/* Login Admin */

.login-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #23305e;
  height: 100vh;  
}

.form-is {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 20px;
  padding: 35px;
  font-family: 'Onest';
}

.container-form2 a {
  color: #23305e;
}

.remember-wrapper {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 70px;
}

.remember-wrapper a {
  font-family: "Avenir", sans-serif;
}

#container-check {
  display: flex;
  align-items: center;
}

#txt-t {
  color:#23305e;
  font-size: 35px;
  letter-spacing: 5px;
  font-family: 'Avenir', sans-serif;
  font-weight: 600;
}

.i-is {
  border: none;
  padding: 10px;
  font-weight: bold;
  width: 300px; 
  height: 50px;
  background: none;
  color: #000;
}

.icon {
  margin-right: 25px;
  color: #23305e;
}

.volver {
  margin: 20px 10px;
}

#error-login-admin {
  color: #ff0000;
  font-size: 1em;
}

.volver a {
  font-family: "Avenir", sans-serif;
  margin-top: 30px;
}

.i-is:focus {
  outline: none;
}

.i-f {
  margin-bottom: 10px;
  border: 3px solid #56bd9b;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

#i-ch {
  width: 40px;
  height: 20px;
}

.container-form3 {
  margin-top: 20px;
}

#btn-conectar {
  color: #23305e;
  background-color: #56bd9b;
  font-weight: bold;
  border: 5px solid #23305e;
  border-radius: 20px;
  font-size: 30px;
  width: 300px;
  -webkit-text-stroke: 1.5px #fff;
  margin-top: 15px;
}

.txt-p {
  color: rgb(180, 180, 180);
}

.remember-wrapper a {
  color: #23305e;
}

/* Panel Admin */

.admin-main {
  background: #23305e;
  width: 80%;
  margin: 300px auto;
  padding: 20px;
}
  
.admin-main h1 {
  font-family: 'Viga', sans-serif;
  font-size: 36px;
}
    
.admin-main button {
  display: block;
  margin-bottom: 15px;
  color: #fff;
  background: none;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  text-align: left;
}

.admin-main button:hover {
  color: #56bd9b;
}

main h1 {
  font-family: 'Viga', sans-serif;
  font-size: 36px;
}

main a {
  color: #fff;
  text-decoration: none;
}

main a:hover {
  color: #56bd9b;
}

.tabla-data {
  overflow-x: auto;
}

.tabla-data table {
  width: 100%;
  border-collapse: collapse;
}

.tabla-data th, .tabla-data td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.tabla-data th, .tabla-data tr:nth-child(even) {
  background: #56bd9b;
}

.tabla-data button {  
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  margin: 25px 15px;
  cursor: pointer;  
}

.btn-crear-editar {
  background: #56bd9b;
}

.btn-crear-editar:hover {
  background: #00BE8D;
}

.create-main button {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  margin: 25px 15px;
  cursor: pointer; 
}

.btn-eliminar {
  background: #ff0000;
}

.btn-eliminar:hover {
  background: #B00000;
}

/* Listados */

.listas-main {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background-color: #23305e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Formularios crear y editar */

.form-crear, .form-editar {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 15px;
}

.btn-crear-editar, .btn-eliminar {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-crear-editar {
  background: #28a745;
  color: white;
}

.btn-crear-editar:hover {
  background: #218838;
}

.btn-eliminar {
  background: #dc3545;
  color: white;
}

.btn-eliminar:hover {
  background: #c82333;
}

/* Formulario Crear */

.create-main {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #23305e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-main h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
}



.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#seleccionar-imagen {
  background: none;
}

/* Formulario Editar */

.edit-main {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #23305e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.edit-main h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
}